* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


body {
    background-color: #DACFBD;
}


/* NAV */

.navbar { 
    
    height: 100px;
    background-color: #584B33 !important;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
    text-shadow: 2px 2px black;
}

.nav-item {
    padding: 0 3rem;
}

.navbar-nav > .nav-item:not(:last-child) {
    border-right: 1px solid silver;
}

.nav-item > .fw-bold {
    font-size: 1.5rem;
}

/* @media (max-width: 768px) {
    .navbar-nav .nav-item:not(:last-child) {
      border-right: none;
 } */

/* CARRUSEL */

.carousel .carousel-item {
    height: calc(100vh - 100px);
    
  }
  
.carousel-item img {
    object-fit:cover;  
    object-position: center;
    overflow: hidden;
    height: 100vh;
}

.carousel-item:before {
    content: "";
    background-image: 
    linear-gradient(
    to bottom,
    transparent, rgb(0, 0, 0)
    );
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}


/* BIENVENIDOS */

#bienvenidosTexto {
    padding: 5rem 0 5rem 15rem;
}

#bienvenidosTexto > p {
    font-size: 20px;
    font-weight: bolder;
    color:#584B33;
    text-shadow: 1px 1px #DACFBD;
}

#bienvenidosTexto > h3 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 40px;
    font-weight: bolder;
    color:#B4AC28;
    text-shadow: 1px 1px black;
}


/* FONDO PERRO & RADIUS */

#fondoPerro {
    background-image: url("/assets/wallpaper_perrito.jpg");
    object-fit: cover;
    object-position: center;
}

#fondoPerro{
    background-color: #9b9b9c;
    position: relative;
    overflow: hidden;
}

#fondoPerro::after {
    content: '';
    position: absolute;
    background: #9b9b9c;
    bottom: -150px;
    left: calc(0% - 200px);
    right: calc(0% - 200px);
    height: 500px;
    border-radius: 100%;
}


/* TARJETAS */

.card{
    background-color: #ffffff00;
    border: none;
    z-index: 1;
}

.card-img-top {
    border: 1px solid black;
    border-radius: 10% 10% 0 0
}

.card-body {
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom: 1px solid black;
    background-color: #b4ad2854;
}


/* SLIDER MARCAS */

.slider {
    background: rgba(255, 255, 255, 0);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 18)
}


.slide-track:hover {
    animation-play-state: paused;
}

.marcas_slider {
    height: 100px;
    width: calc(250px * 7)
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}


/* INFO */

#masInfo {
    background-color: #9B9B9C;
}


/* FOOTER */

footer {
    background-color: #9B9B9C;
}

/* PERRO ANIMADO */

.dog {
    width: 120px;
    position: relative;
    left: 50%;
    top: 50%;
}
  
.body {
    background: #60C8E7;
    border-radius: 300px 300px 0 0;
    height: 300px;
}
  
.beard {
    width: 55px;
    height: 65px;
    background: #087BA5;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
}
    
.beard:after {
    content: '';
    background: #087BA5;
    width: 26px;
    height: 13px;
    border-radius: 0 0 25px 25px;
    display: block;
    margin: 0 auto;
    transform: translateY(64px);
}

.beard:before {
    content: '';
    background: #000;
    width: 20px;
    height: 10px;
    border-radius: 0 0 20px 20px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
  
.mouth {
    background: #1A243C;
    width: 30px;
    height: 15px;
    border-radius: 0 0 30px 30px;
    position: absolute;
    top: 22px;
    margin: auto;
    left: 0;
    right: 0;
    border-top: 3px solid #fff;
    box-sizing: border-box;
}

.tongue {
    width: 20px;
    height: 30px;
    border-radius: 5px 5px 10px 10px;
    background: #FF6B5A;
    margin: 0 auto;
    position: relative;
    top: 4px;
    transition: 300ms;
    animation: grow .1s infinite alternate;
}
  
.eyes {
    background: #fff;
    width: 20px;
    height: 24px;
    border-radius: 20px 20px 0 0;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 2px;
}
    
.eyes:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #000;
    display: block;
    border-radius: 50%;
    top: 50%;
    position: absolute;
    animation: squeeze 1.2s infinite;
}

.eyes:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #000;
    display: block;
    border-radius: 50%;
    top: 50%;
    position: absolute;
    animation: squeeze 1.2s infinite;
}
    
.eyes:before {
    left: -13px;
}

.eyes:after {
    right: -13px;
}

  
.belt {
    height: 30px;
    background: #FF6B5A;
    margin-top: 20px;
    position: relative;
}
    
.locket {
    width: 30px;
    height: 30px;
    background: #FFC442;
    margin: 0 auto;
    border-radius: 50%;
    transform: translateY(50%);
}

.dot {
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.dot1 {
    margin-left: 10px;
}

.dot2 {
     margin-left: 34px;
}

.dot3 {
    margin-left: 77px;
}

.dot4 {
    margin-left: 100px;
}
    
.belt:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    background: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
}

.belt:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    background: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
}
    
.belt:before {
    left: -5px;
    border-radius: 10px 0 0 10px;
}

.belt:after {
    right: -5px;
    border-radius: 0 10px 10px 0;
}
  
.stomach {
    width: 56px;
    height: 130px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 120px 120px 0 0;
}
  
.legs {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12px;
}

.legs:before {
    height: 12px;
    border-radius: 20px 20px 0 0;
    display: inline-block;
    content: '';
    position: absolute;
    background: #087BA5;
    width: 45px;
}

.legs:after {
    height: 12px;
    border-radius: 20px 20px 0 0;
    display: inline-block;
    content: '';
    position: absolute;
    background: #087BA5;
    width: 45px;
}

.legs:before {
    left: -37px;
}

.legs:after {
    right: -37px;
}

.left {
    display: inline;
    width: 12px;
    height: 55px;
    background: #087BA5;
    position: absolute;
    bottom: 0; 
}

.right {
    display: inline;
    width: 12px;
    height: 55px;
    background: #087BA5;
    position: absolute;
    bottom: 0
}

.right:before {
    content: '';
     width: 28px;
    height: 12px;
    background: #60C8E7;
    border-radius: 20px 20px 0 0;
    display: inline-block;
    bottom: 0;
    position: absolute;
}

.left:before {
    content: '';
    width: 28px;
    height: 12px;
    background: #60C8E7;
    border-radius: 20px 20px 0 0;
    display: inline-block;
    bottom: 0;
    position: absolute;
}

.left {
    left: -12px;
    border-radius: 20px 0 0 0;
}
      
.left:before {
     transform: translateX(-1px);
}

.right {
    right: -12px;
    border-radius: 0 20px 0 0;
    z-index: 1;
}

.right:before{ 
    transform: translateX(-13px); 
}
    
  
.ears {
    position: absolute;
    z-index: -1;
    top: -20px;
}
    
.ears:after{
    content: '';
    display: inline-block;
    background: #087BA5;
    width: 40px;
    height: 90px;
    border-radius: 100% 100% 0 0;
}

.ears:before {
    content: '';
    display: inline-block;
    background: #087BA5;
    width: 40px;
    height: 90px;
    border-radius: 100% 100% 0 0;
}

.ears:after {
    transform: translateX(40px);
    border: 10px solid #60C8E7;
    box-sizing: border-box;
}
  
  
.tail {
    background: #60C8E7;
    width: 14px;
    height: 80px;
    position: absolute;
    z-index: -1;
    right: 10px;
    bottom: 40px;
    transform: rotate(30deg);
    border-radius: 14px;
    transform-origin: bottom;
    transition: 300ms;
    animation: shake .08s infinite alternate;
}
  
.tag {
    border-left: 5px solid #FF6B5A;
    border-bottom: 5px solid #FF6B5A;
    width: 100%;
    height: 161px;
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 100px;
    box-sizing: border-box;
    border-bottom-left-radius: 40px;
}
  
@keyframes squeeze {
    90% {
      transform: none;
      animation-timing-function: ease-in;
}
    93% {
      transform: scale(1.2, 0.3);
}
    100% {
      animation-timing-function: ease-out;
}
}
  
@keyframes grow {
    0% {
      animation-timing-function: ease-in;
}
    100% {
      height: 35px;
}
}
  
  @keyframes shake {
    0% {
      transform: rotate(30deg);
}
    100% {
      transform: rotate(40deg);
}
}

.dropdown-menu{
    width: 40rem !important;
}

.dropdown-item{
    width: 100% !important;
}

.card-carrito{
    width: 80% !important;
}

.card-body{
    width: 100%;
}


.imagen-carrito{
    width: 50px;
    height: 50px;
}